{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
{# {{dump(user) }} #}


{% if is_granted('ROLE_INTERVENANT')%}
	INTERVENANT IS HERE BRO
{% endif %}
{# mettre les valeur user #}
<div class="container mt-5">
		<div class="main-body">
			<div class="row">
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
								<div class="mt-3">
									<h4>{{user.nom}}</h4>
									<p class="text-secondary mb-1">Full Stack Developer</p>
									<p class="text-muted font-size-sm">{{ user.adresse }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="card">
						<div class="card-body">
							{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Nom</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" id="{{ form.children.nom.vars.id }}" name="{{ form.children.nom.vars.full_name }}" value="{{user.nom}}">
								</div>
							</div>
							
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Prenom</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" id="{{ form.children.prenom.vars.id }}" name="{{ form.children.prenom.vars.full_name }}" value="{{user.prenom}}">
								</div>
							</div>

							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Email</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" id="{{ form.children.email.vars.id }}" name="{{ form.children.email.vars.full_name }}" value="{{user.email}}">

								</div>
							</div>
							
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Address</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" id="{{ form.children.adresse.vars.id }}" name="{{form.children.adresse.vars.full_name }}" value="{{user.adresse}}">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3"></div>
								<div class="col-sm-9 text-secondary">
									{{ form_row(form.submit, { 'attr': {'class': 'login100-form-btn rounded-3 py-2 px-4'} }) }}
								</div>
							</div>
							{{ form_row(form._token) }}
							{{ form_end(form, {render_rest: false}) }}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
									<h2 class="d-flex align-items-center mb-3">Historique</h2>
									<div class="list-group">
                                    {% for demande in user.demandes  %}

										{#{{ dump(demande.dateDemande|date("d/m/Y")) }}
										{{ dump(demande.getIntervenant.getNom) }}
										{{ dump(demande.heure) }}#}
                                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">


												<div class="d-flex w-100 justify-content-between">
													<h5 class="mb-1"><strong>Services :</strong></h5>
													<ul>

														{% for service in demande.services %}
															<li>{{service.nom}}</li>
														{% endfor %}

													</ul>

													<small>{{demande.dateDemande|date("d/m/Y")}}</small>
												</div>
											<h5 class="mb-1"><strong>Intervenant </strong>:</h5>

											<ul>
												<li>
													{{demande.getIntervenant.getNom}}
												</li>
											</ul>


												<h5 class="mb-1"><strong>Heure de l'intervention</strong></h5>
												<small>{{demande.heure}} <strong>heure(s)</strong> </small>



                                        </a>
                                    {% endfor %}
                                    </div>
							
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	</div>
{% endblock %}
