{% extends 'base.html.twig' %}

{% block title %}Devis index{% endblock %}

{% block body %}

<div class="container mb-3">
{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}

    <h1 class="mb-5 mt-5 color d-flex justify-content-center">Devis</h1>
    <div class="row">
        <div class="col-6 mb-3">
        {{ form_row(form.heure) }}
        </div>
        <div class="col-6 mb-3">
        {{ form_row(form.intervenant) }}
        </div>
        <div class="col-12 mb-3">
            {{ form_row(form.details) }}
        </div>
        <div class="col-12 mb-3">
            <div class="row">
                {% for child in form.services.children %}
                    <div class="col-3">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}">
                            <label class="custom-control-label" for="{{ child.vars.id }}">{{ child.vars.label }}</label>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 mt-5 ">
            <div class="row">
            {{ form_row(form.submit, { 'attr': {'class': 'login100-form-btn rounded-3 py-2 px-4'} }) }}
            </div>
                
            
            
        {{ form_row(form._token) }}
        </div>
        
    </div>

{{ form_end(form, {render_rest: false}) }}
</div>
{% endblock %}
