{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class = "container">

<div/> <div class="content mt-5">
    
        <div class="container">
        
        <h1 class=" mb-5 d-flex justify-content-center color"> Contact </h1>
          <div class="row justify-content-center">
          

            <div class="col-md-10">
              
    
              <div class="row justify-content-center">
              {# text et image #}
                <div class="col-md-5">
                  
                  
                    <div class= 'mt-5 ml-5 pl-3'> 
                  <p><img src="{{ asset('images/contact-decoration.png') }}" alt="Image" class="img-fluid"></p>  
                    </div>
                  
    
    
                </div>
                {# fin text-et-image #}
                
                <div class="col-md-6 mt-1">
                
                    
                {# formulaire #}
                  {{ form_start(formulaire, {'attr': {'class': 'mb-5'}}) }}
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        {{ form_widget(formulaire.email) }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        {{ form_widget(formulaire.subject) }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        {{ form_widget(formulaire.message) }}
                      </div>
                    </div>  
                    <div class="row">
                      <div class="col-12">
                          {{ form_row(formulaire.send, { 'label': 'Envoyer', 'attr': {'class': 'login100-form-btn rounded-3 py-2 px-4'} }) }}
                          <span class="submitting rond"></span>
                      </div>
                    </div>
                  {{ form_end(formulaire) }}
                {# fin formulmaire #}
                  
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </div>
        


{% endblock %}
