<nav class="navbar navbar-expand-lg navbar-light shadow">
            <a class="navbar-brand p-0" href="#">
                <img src="{{ asset('images/Logo_V2_copie.png') }}" width="80"
                    height="70" class="d-inline-block align-top" alt="">
            </a>
            {# <a class="nav-link d-flex justify-content-start text-body" href="#">SAPPAD</a> #}


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span bclass="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end mr-4" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                        <a class="nav-link mx-4" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
                        <a class="nav-link mx-4" href="{{ path('catalog_index') }}">Catalogue</a>
                        <a class="nav-link mx-4" href="{{ path('user_devis_index') }}">Devis</a>
                        <a class="nav-link mx-4" href="{{ path('contact') }}">Contact Now</a>

                        
                        
                    {% if is_granted('ROLE_ADMIN')%}
                        <li class="nav-item dropdown mr-4">
                                <a class="nav-link mx-4" href="{{ path('admin') }}">Espace Admin</a>
                        </li>
                    {% endif %}

                        {% if app.user %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle btn btn-danger rond px-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #FFF">
                                    Mon compte
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{path('account')}}">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                                </div>
                            </li>
                        {% else %}
                            <a  href="{{ path('app_register') }}" class="nav-link mx-4">Inscription</a>
                            <a  href="{{ path('app_login') }}" class="nav-link mx-4">Connexion</a> 
                        {% endif %}
                    
                    
                   
                </li>
                </div>
                
            </div>
        </nav>